<div class="amx__header">

  <section class="amx__header-logo-block">
    <span class="amx__header-logo"></span>
    
  </section>

  <nav class="amx__header-nav">
    <ul class="amx__header-nav-ul">
      <li class="amx__header-nav-li">
        <a class="amx__header-link" href="">Установка</a>
      </li>
      <li class="amx__header-nav-li">
        <a class="amx__header-link" href="">Наши работы</a>
      </li>
      <li class="amx__header-nav-li">
        <a class="amx__header-link" href="">Контакты</a>
      </li>
      <li class="amx__header-nav-li">
        <a class="amx__header-link" href="">Прайс</a>
      </li>
    </ul>
  </nav>


  <section class="amx__header-phone-block">
    <span class="amx__header-phone-text">8 903 553 0200</span>
    <span class="amx__header-phone-text"></span>
  </section>
</div>