@import './../../../styles.less';




.amx {
    &__footer {
        height          : 200px;
        // border-bottom: 5px solid red;

        display        : flex;
        justify-content: center;
        align-items    : center
    }

    &__footer-design {
        color: @amx-font-color;
    }

    &__footer-design-block {
        display: flex;
        justify-content: center;
        width: 25%;

        font-size: 12px;
    }

    &__footer-nav {
        display        : flex;
        justify-content: center;

        width: 50%;
    }

    &__footer-nav-ul {
        display            : flex;
        // border          : 2px solid @amx-font-color;
        // border-bottom   : 2px solid @amx-font-color;
        padding            : 12px;
        // border-radius   : 5px;
    }

    &__footer-nav-li {
        list-style: none;
        margin    : 0 36px;
    }

    &__footer-link {
        color          : gray;
        text-decoration: none;
        font-size      : 24px;

        position: relative;

        &:hover {
            color: @amx-font-active-color;

        }


        // &:hover {

        //     &:after {
        //         content   : '';
        //         width     : 60%;
        //         height    : 2px;
        //         background: @amx-font-active-color;

        //         position: absolute;
        //         top     : 40px;
        //         left    : 22%;
        //     }
        // }

    }



    &__footer-phone-block {
        display        : flex;
        justify-content: center;
        align-items    : center;

        width: 25%;
    }

    &__footer-phone-text {
        color    : @amx-font-color;
        font-size: 32px;

        &:hover {
            color: @amx-font-active-color;
        }
    }
}