<div class="amx__footer">

  <section class="amx__footer-design-block">
    <span class="amx__footer-design">
      design by Veliafar
    </span>

  </section>

  <nav class="amx__footer-nav">
    <ul class="amx__footer-nav-ul">
      <li class="amx__footer-nav-li">
        <a class="amx__footer-link" href="">Установка</a>
      </li>
      <li class="amx__footer-nav-li">
        <a class="amx__footer-link" href="">Наши работы</a>
      </li>
      <li class="amx__footer-nav-li">
        <a class="amx__footer-link" href="">Контакты</a>
      </li>
      <li class="amx__footer-nav-li">
        <a class="amx__footer-link" href="">Прайс</a>
      </li>
    </ul>
  </nav>


  <section class="amx__footer-phone-block">
    <span class="amx__footer-phone-text">8 903 553 0006</span>
    <span class="amx__footer-phone-text"></span>
  </section>
</div>