/* You can add global styles to this file, and also import other style files */
@amx-font-color       : rgb(118, 119, 115);
@amx-font-active-color: lime;




* {
    margin : 0;
    padding: 0;
}

.amx {
    &__body {
        font-family: "FuturisCyrillic";
        background-color: rgb(31, 31, 31);
        background-image: url(./assets/img/amx-bckgrnd.jpg);
        background-size : cover;
    }
}


@font-face {
    font-family: "FuturisCyrillic";

    src        : url("./assets/fonts/futuris-cyrillic.ttf");
    font-style : normal;
    font-weight: normal;
}